.tabla{
    padding: 20px;
}

.meses {
    width: 50%;
}

.fecha {
    text-align: center;
  }

.total {
    text-align: right;
  }

th {
    text-align: center;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
