<div class="tabla">
    <table class="meses">
        <thead>
            <th>Interval</th>
            <th>Revenue</th>
        </thead>
        <tbody>
            <tr *ngFor="let mes of meses">
                <td class="fecha">
                    {{mes.mes}}
                </td>
                <td class="total">
                    {{mes.total}}
                </td>
            </tr>
            <tr>
                <td class="fecha">
                    <b>Total</b>
                </td>
                <td class="total">
                    <b>{{total}}</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>