<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: "Hind", "Avenir", "Helvetica", arial;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .toolbar {
    height: 80px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #CE112A;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    height: 60px;
    margin: 16px;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="https://www.bookandlearn.com/" src="../assets/white.png" />
</div>
<br>
<router-outlet></router-outlet>